.navbar-header
    .navbar__hamburguer 
        div(id="hamburguer" class="hamburguer navbar-header__button--hamburguer")
                        .hamburguer__div-center
    .navbar__content#navbar__content
        //- p.h4.navbar__title Navegaci贸n
        .navbar__links
            a(href="#section-1" class="navbar__link navbar__link--active mybtn mybtn--outlined-white mybtn--sm" ) Secci贸n 1
            a(href="#section-2" class="navbar__link mybtn mybtn--outlined-white mybtn--sm" ) Secci贸n 2
            a(href="#section-3" class="navbar__link mybtn mybtn--outlined-white mybtn--sm" ) Secci贸n 3
