.footer {
    position: relative;
  }
  
  .container-footer {
    @extend .position-absolute, .flex-center;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, .8),rgba(0, 0, 0, .9), rgb(0, 0, 0)), url(https://images.unsplash.com/photo-1503951914875-452162b0f3f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
  
    .h1 {
      color: var(--color-white);
    }
  }
  